/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 30, 2015, 8:24:23 PM
    Author     : Christine
*/

.hamster-page label.inline {
    display: inline;
    padding: 5px;
}
